.chart-container {
  display: flex;
  border: 1px solid #ecebf5;

  padding: 0 0 30px 20px;
  border-radius: 10px;
  margin-bottom: 24px;
  width: 100%;

  overflow-x: hidden;
}
.line-chart-graph {
  flex: 3.5;
}
.chart-infos {
  flex: 1;
  border-left: 1px solid #ecebf5;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
  padding: 0 20px;
}
.second-box {
  margin-top: 20px;
}

@media (max-width: 903px) {
  .chart-container {
    overflow: scroll;
  }
  .chart-infos {
    flex: 1;
  }
  .line-chart-graph {
    flex: 1;
  }
}
