.search-bar {
  color: #a3a3c2;
}

.search-icon-end {
  top: 18px;
  right: 15px;
}

.search-input {
  padding: 12px 0 12px 16px;
  border-radius: 10px;
  color: #c0c0d4;
  font-size: 16px;
  font-weight: 400;
}
